.main-header {
    position: fixed;
    top: 0;
    z-index: 100;

    header {
        height: rem(77px);
        // background-color: #fcfdff;

        .logo {
            color: $clr2;
            font-family: macan-bold;
            font-size: 2.2rem;
            margin-inline-end: rem(29px);
        }

        .logo::after {
            content: '.';
            color: $clr0;
        }

        nav a:not(:first-child) {
            padding: rem(10px) rem(16px);
            margin: rem(10px);
        }

        .fiverr-nav {
            color: $clr2;
        }

        nav a {
            color: $clr2;
            font-family: macan-regular;
        }

        nav a:hover {
            color: $clr4;
            text-decoration: none;
            color: $clr0;
        }

        .search-container {
            position: relative;
            top: rem(11px);
            opacity: 0;
        }

        input {
            bottom: 11px;
            border: 1px solid $clr11;
            border-radius: rem(4px) 0 0 rem(4px);
            font-family: macan-regular;
            font-size: 1rem;
            height: rem(42px);
            letter-spacing: normal;
            padding: rem(10px) rem(2px) rem(10px) rem(16px);
            width: rem(534px);
        }

        button {
            cursor: pointer;
            background-color: $clr5;
            height: rem(42px);
            padding: rem(8px) rem(16px);
            border-radius: 0 rem(4px) rem(4px) 0;
            font-size: rem(14px);
            text-shadow: none;
            display: inline;
            position: absolute;
            right: -9px;
            top: -5px;
        }

        button:hover {
            background-color: $clr3;
        }

        nav a.join {
            font-family: macan-bold;
            margin-left: auto;
            color: $clr0;
            border: 1px solid $clr0;
            border-radius: rem(4px);
            transition: border-radius color 0.8s;
            padding: rem(10px) rem(16px);
        }

        .join:hover {
            color: $clr2;
            background-color: $clr0;
            transition: 0.8s;
        }
    }
}


.subheader {
    display: none;
    background-color: $clr2;
    border-top: rem(1px) solid $clr6;
    border-bottom: rem(1px) solid $clr6;
}

.categories-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: macan-regular;

    a {
        color: $clr1;
        text-decoration: none;
        padding-block: 8px;
        line-height: 24px;
    }

    a:hover {
        box-shadow: 0 -3px $clr0 inset;
    }
}



// base
.sticy {
    position: sticky;
    top: 0;
}

.opacity {
    opacity: 1;
}

.full-expand {
    header .search-container {
        opacity: 1;
    }

    nav {
        color: $clr1;
        background-color: $clr2;

        .logo {
            color: $clr3;
        }

        .fiverr-nav {
            color: $clr7;
        }

        a:not(:first-child) {
            color: $clr3;
        }
    }

    .subheader {
        display: block;
    }
}