header {
    height: 77px;
    background-color: #c5c6c900;

    .logo {
        color: $clr3;
        font-family: macan-bold;
        font-size: 2.2rem;
        margin-inline-end: 29px;
    }

    .logo::after {
        content: '.';
        color: $clr0;
    }

    nav {
        display: flex;
        justify-content: center
    }

    nav a:not(:first-child) {
        padding: 10px 16px;
        margin: 10px;
    }

    .fiverr-nav {
        color: $clr7;
    }

    nav a {
        font-family: macan-regular;
        color: $clr1;
    }

    nav .active {
        color: $clr1;
    }

    nav a:hover {
        color: $clr4;
        text-decoration: none;
        color: $clr0;
    }

    .search-container {
        position: relative;
        top: 11px;
    }

    input {
        bottom: 11px;
        border: 1px solid #c5c6c9;
        border-radius: rem(4px) 0 0 rem(4px);
        font-family: macan-regular;
        font-size: 1rem;
        height: 42px;
        letter-spacing: normal;
        padding: 10px 2px 10px 16px;
        width: 534px;
    }

    button {
        cursor: pointer;
        background-color: $clr5;
        height: rem(42px);
        border-radius: 0 rem(4px) rem(4px) 0;
        font-size: rem(14px);
        padding: rem(8px) rem(16px);
        text-shadow: none;
        display: inline;
        position: absolute;
        right: -7px;
        top: -5px;
    }

    button:hover {
        background-color: $clr3;
    }

    nav a.join {
        font-family: macan-bold;
        margin-left: auto;
        color: $clr0;
        border: 1px solid $clr0;
        border-radius: 4px;
        transition: border-radius color 0.8s;
        padding: 10px 16px;
    }

    .join:hover {
        background-color: $clr0;
        color: $clr2;
        transition: 0.8s;
    }
}

.subheader {
    border-top: 1px solid $clr6;
    border-bottom: 1px solid $clr6;
}

.categories-list {
    margin: 0;
    padding: 0;
    font-family: macan-regular;
    // font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: $clr1;
    }

    a:hover {
        box-shadow: 0 -4px $clr0 inset;
    }
}

.hero-container {
    background-image: url('https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/d14871e2d118f46db2c18ad882619ea8-1599835783966/bg-hero-3-1792-x1.png');
    height: 675px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// display: flex;
// position: relative;
// position: sticky;
// top: 0;
// background-color: #fff;