.carosel-img {
    background: transparent url(https://fiverr-res.cloudinary.com/app_assets/fiverr_logo_loader.svg) no-repeat 50%;
    background-size: 80px;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 140px;
    min-width: 140px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}

.nav-info {
    color: #95979d;
    font-size: rem(14px);
    font-weight: 600;
    line-height: rem(53px);
    padding: 0;
    margin: 0;
    display: flex;

    font-family: Macan;
    line-height: 3.7857142857em;
    cursor: pointer;

}

.nav-info>li {
    margin-right: rem(10px);
    list-style-type: none;
}

.gig-page {
    display: flex
}

.main-gig {
    margin-inline-end: 5.5%;
    width: 59.5%;
}

.gig-page>h2 {
    padding-block-end: rem(25px);
    font-size: 1.25rem;
}

.info-img {
    height: rem(30px);
    width: rem(30px);
    border-radius: 50%;
}

.gig-overview>h1 {
    font-size: rem(28px);
    padding: rem(0px) rem(0px) rem(16px);
}

.about-the-gig>p {
    font-size: rem(16px);
    color: $clr1;
    margin: rem(10px) 0px 0px;
}

.contact-btn {
    padding: rem(24px);
}

// .selling-package {
//     position: sticky;
//     right: 0;
//     margin-right: 20px;
// }

// .contact-btn>* {
//     border: rem(1px) solid transparent;
//     border-radius: 0.25em;
//     font-size: 1rem;
//     font-weight: 600;
//     font-family: inherit;
//     line-height: 100%;
//     padding: 0.75em 1.5em;
//     position: relative;
//     text-align: center;
//     width: 100%;
//     transition: 70ms cubic-bezier(.75, 0, .25, 1);
//     cursor: pointer;
//     background: none;
//     border-color: currentColor;
//     color: clr1;
// }

// .package-header {
//     display: flex;
//     justify-content: space-between;
// }

// .ull {
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }



.more-info>* {
    font-size: rem(14px)
}

// .packages-tabs {
//     padding: 2em 1.5em;
//     border: 1px solid #dadbdd;
//     margin-block-end: 16px;
// }

// .packages-tabs>p {
//     font-size: rem(14px)
// }




b {
    font-family: Macan;
    margin: 0 0 0 8px;
}



.profile-pic>img {
    width: 110px;
    height: 110px;
    font-size: 2.2em;
    border-radius: 50%;
}

.user-profile-label {
    display: flex;
    flex-direction: column;
}

profile-card {}

.contact-me {
    cursor: pointer;
    color: #62646a;
    padding: rem(12px) rem(24px);
    font: rem(14px);
    width: auto;
    background: none;
    font-weight: 600;
    line-height: 100%;
    border: 1px solid #62646a;
    margin-block-start: rem(20px);
    height: rem(40.47px);
    border-radius: 0.2857142857em;
    max-width: rem(130px);
}

.stat-header {

    justify-content: space-between;
    padding-block-end: rem(20px)
}







//USER PREVIEW//
.seller-preview-short {
    margin-block-end: 1.1428571429em;
    font-size: .875rem;

    .img-container {
        height: rem(30px);
        width: rem(30px);
        margin-inline-end: 1.1428571429em;

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .text-container {
        display: flex;
    }

    .text,
    .rate {
        display: flex;
        align-items: center
    }

    .text>*,
    .rate>* {
        margin-inline-end: 0.625em
    }

    .seller-level,
    .seller-reviews-count {
        color: $clr1;
        font-weight: 400;
    }

    >*:not(.img-container) {
        margin-inline-end: 0.5714285714em;
    }

    .rate-score {
        color: $clr8;
        font-weight: 600;
    }

    .stars {
        margin-block-start: 0;

        >* {
            padding-inline-start: 2px;
            padding-inline-end: 2px
        }

        svg {
            fill: $clr8;
        }
    }
}

// ************** Order SECTION *************
.package-container {

    width: 35%;
    background-color: #fff;
    position: sticky;
    align-self: flex-start;
    top: rem(53px);
    overflow-y: auto;
    padding: 0;
    font-family: Macan;

    button {
        border: rem(1px) solid transparent;
        border-radius: 0.25em;
        font-size: 1rem;
        font-weight: 600;
        font-family: inherit;
        line-height: 100%;
        padding: 0.75em 1.5em;
        position: relative;
        text-align: center;
        width: 100%;
        transition: 70ms cubic-bezier(.75, 0, .25, 1);
        cursor: pointer;
    }

    svg {
        float: left;
        height: 100%;
        width: 100%;
    }

    .gig-package {

        .contact-seller {
            padding: rem(24px);

            button {
                background: none;
                border-color: currentColor;
                color: $clr1;
            }
        }

        .additional-info {
            align-items: center;
            font-size: .875rem;
            color: #62646a;
            font-weight: 600;
            margin-block-end: rem(8px);

            p {
                margin-inline-start: rem(8px);
                line-height: 1.5714285714em;
                margin: 0;
            }

            .revisions-wrapper {
                margin-inline-start: rem(16px);
            }
        }

        .features {
            margin-block-end: 2em;

            >li {
                display: flex;
                align-items: center;
                font-size: .875rem;
                color: $clr9;
                font-weight: 400;
                line-height: 1.7142857143em;

                >span {
                    padding-inline-end: rem(12px);
                }
            }
        }
    }

    .package-content {
        padding: 2em 1.5em;
        border: rem(1px) solid $clr12;
        margin-block-end: rem(16px);

        .header {
            margin-block-end: rem(18px);
            min-height: rem(48px);
        }

        .title {
            font-size: 1rem;
            line-height: 1.5em;
            color: $clr13;
        }

        >p {
            font-size: .875rem;
            min-height: rem(63px);
            margin-block-end: rem(10px);
            line-height: 140%;
            font-weight: 500;
            color: $clr1;
        }

        .continue-btn {
            background-color: #1dbf73;
            color: #fff;
            margin: 0;

            >span {
                width: rem(16px);
                height: rem(16px);
                float: right;
            }
        }
    }

}

//ABOUT THE SELLER//
.seller-preview {
    h2 {
        padding-block-end: rem(25px);
        font-size: 1.25rem;
        line-height: 1.4em;
        font-weight: 700;
        color: $clr13;
    }
}

.seller-preview-long {
    margin-block-end: rem(24px);
    font-size: rem(16px);

    .img-container {
        height: rem(110px);
        width: rem(110px);
    }

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .seller-details {
        padding-inline-start: 0.9375em;

        .seller-username {
            color: $clr1;
            cursor: pointer;
            font-weight: 700;
            line-height: 1.25em;
            padding-block-end: 0.3125em;
        }

        .online-indicator {
            border: 1px solid $clr0;
            color: $clr0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-inline-start: rem(30px);
            border-radius: 0.75em;
            margin-block-end: 0.3125em;
            padding: 0 0.625em;

            p {
                line-height: 1.125em;
                font-size: .875rem;
                margin-block-start: 0.2142857143em;
            }

            svg {
                float: left;
                height: 100%;
            }

            span {
                width: rem(4px);
                height: rem(4px);
                padding-inline-end: 0.5em;
                vertical-align: middle;
            }

        }

        .seller-level {
            color: $clr1;
            font-weight: 400;
            line-height: 130%;
        }

        .seller-reviews-stat {
            font-size: .875rem;
            line-height: 1.5em;
            margin-block-start: 0.3125em;

            >p {
                padding-block-start: 0.1428571429em
            }
        }

        .seller-reviews-count {
            padding-inline-start: 0.2857142857em;
            padding-block-end: rem(2px);
        }

        .stars {
            margin-block-start: rem(-1px);

            svg {
                fill: $clr8;
            }
        }

        .stars>* {
            padding-inline-start: rem(2px)
        }

        .rate-score {
            color: $clr8;
            font-weight: 600;
            padding-inline-start: 0.2857142857em;
        }
    }

}

.contact-me-btn {
    padding: 0.8571428571em 1.7142857143em;
    margin-block-start: rem(20px);
    font-size: .875rem;
    color: rem(1px);
    cursor: pointer;
    width: auto;
    background: none;
    font-weight: 600;
    line-height: 100%;
    border: rem(1px) solid rem(1px);
    border-radius: 0.2857142857em;
    max-width: rem(130px);
}

.seller-details-container {
    border: rem(1px) solid $clr14;
    border-radius: 0.1875em;
    padding: 1.5em;
    margin-block-end: rem(64px);
    color: $clr4;

    .seller-desc {
        border-top: rem(1px) solid $clr14;
        line-height: 150%;
        padding-block-start: 0.9375em;
    }

    .seller-stat>ul {

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .key {
            padding-block-end: 0.25em;
        }

        .value {
            font-weight: 700;
        }
    }

    .seller-stat>ul>li {
        padding-block-end: 1em;
    }



}

//REVIEW//

.review-preview-long {
    padding: 2.5em 0;
    border-block-start: rem(1px) solid $clr14;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "img details"
        ". review";
}

.reviewer-img {
    margin-inline-end: rem(16px);
    width: rem(48px);
    height: rem(48px);
    border-radius: 50%;
    grid-area: img;
}

.reviewer-details {
    grid-area: details;

    .username {
        font-size: 1rem;
        line-height: 1.5em;
        color: #404145;
        font-weight: 700;
        margin-block-end: 0.5em;
    }

    .country-wrapper img {
        height: rem(20px);
        width: rem(20px);
    }

    .country-wrapper .country {
        color: #62646a;
        font-size: .875rem;
        padding-inline-start: 0.5714285714em;
        line-height: 1.5em;
    }
}

.review-content {
    grid-area: review;
    margin-block-start: rem(20px);
    font-size: rem(14px);
    line-height: rem(21px);
}

.stars {
    margin-block-start: rem(-3px);

    li{
        margin: 0;
        padding: 0;
        padding-inline-end: 2px;
    }

    svg {
        fill: $clr8;
    }
}

.rating-score {
    color: $clr8;
    padding-inline-start: 0.2857142857em;
    padding-inline-end: 0.5714285714em;
    font-weight: 700;
    border-inline-end: rem(1px) solid $clr15;
}


.reviewed-at {
    padding-inline-start: 0.5714285714em;
    color: $clr1;
}


.stat-header h2 {
    margin: 0;
    margin-inline-end: 0.4em;
    font-size: 1.25rem;
    line-height: 1.4em;
    font-weight: 700;
    color: $clr3;
}

.reviews-rate .stars {
    margin-block-start: 0;
}

.reviews-rate .stars>* {
    padding-inline-end: rem(2px);
}

.stars-counters {
    min-width: 50%;

    ul>li .key {
        color: $clr16;
        font-weight: 700;
        padding: 0.375em;
        width: 25%;
    }

    ul>li .star-num {
        color: $clr16;
    }

    ul>li progress[value] {
        -webkit-appearance: none;
        appearance: none;
    }

    ul>li progress {
        margin-inline-end: rem(10px);
        margin-block-start: rem(8px);
        display: flex;
    }
}


.ranking {
    flex: 1;
    padding-inline-start: rem(6px);

    h6 {
        margin: 0 0 0em;
        line-height: 0;
        font-size: 1rem;
        font-weight: 700;
        padding-block-end: 1em;
        line-height: 140%;
        color: $clr17;
    }

    ul {
        li {
            
            padding-block-end: 0.5em;
            color: $clr9;

            .star-container {
                margin-left: rem(12px);
                line-height: rem(21px);
                color: $clr8;
                font-weight: 700;

                span {
                    display: grid;
                    place-content: center;

                    svg {
                        fill: $clr8;
                    }
                }

                .value {
                    padding-inline-start: 0.25em;
                    margin-block-start: 0.125em;
                }

            }
        }
    }

}


//ABOUT THE GIG //

.about-the-gig {
    h2 {
        padding-block-end: rem(25px);
        font-size: 1.25rem;
        line-height: 1.4em;
        font-weight: 700;
        color: $clr17;
    }

    p {
        color: $clr1;
        word-break: break-word;
        word-wrap: break-word;
        font-size: 1rem;
        font-weight: 400;
        line-height: rem(24px);
        white-space: pre-wrap;
    }
}

//what people loved
.What-people-loved {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-block-end: rem(25px);

    h2 {

        color: $clr3;
        font-size: rem(20px);
    }

    button {
        margin: 0;
        font-size: rem(14px);
        padding: 0;
        background: transparent;
        color: #1dbf73;
        font-weight: 400;
        cursor: pointer;
        display: inline-block;
        border-radius: 4px;
        position: relative;
        text-align: center;
        text-decoration: none;
    }
}

.review-list-container {
    border: rem(1px) solid $clr15;
    border-radius: 0.25em;
    padding: 1em 1.5em;
    height: rem(133px);
}


.review-snippet-temporary {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "img details"
        ". review";

    .reviewer-img {
        margin: 0.25em 1.25em 0 0.25em;
        width: rem(32px);
        height: rem(32px);
    }

    .reviewer-details .username {
        line-height: 140%;
        margin-inline-end: 0.75em;
        margin-block-end: 0;
    }

    .stars{
        margin: 0 0 0 0.5714285714em
    }

    .stars >*{
        padding: 0;
        margin:0;
        padding-inline-end: rem(2px);
    }

    .rating-score {
        font-size: .875rem;
        padding-inline-start: 0.2857142857em;
        padding-block-start: 0.1428571429em;
        border-inline-end: none;
    }
     .review-content {
        grid-area: review;
        margin-block-start: 0;
        font-size: .875rem;
        line-height: 1.7142857143em;

        .review-description {
            margin: 0;
            color: #62646a;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .reviewed-at {
            padding-inline-start: 0;
            color: $clr9;
        }
    }
}
