.filter {
    display: flex;

    position: sticky;
    top: 0;
    background-color: #fff;

    >* {
        border: 1px solid #e4e5e7;
        border-radius: 8px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: #222325;
        line-height: 24px;
        min-height: 48px;
        min-width: 50px;
        padding: 12px 16px;
        -webkit-transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
        -o-transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
        transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
    }

}


.sort-bar {
    display: flex;
    justify-content: space-between;
}

.listings-perseus .floating-menu .filter-menu,
.listings-perseus .floating-menu .more-filter-menu {
    border: 1px solid #e4e5e7;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #222325;
    line-height: 24px;
    min-height: 48px;
    min-width: 50px;
    padding: 12px 16px;
    -webkit-transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
    -o-transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
    transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.listings-perseus .floating-menu .menu-title {
    cursor: pointer;
}

.listings-perseus .floating-menu .menu-content .button-row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-align-items: center;
    align-items: center;
    border-top: 1px solid #e4e5e7;
    -webkit-box-shadow: 0 12px 18px rgba(0, 0, 0, .14);
    box-shadow: 0 12px 18px rgba(0, 0, 0, .14);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 16px 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}