.owner-img {
    width: rem(24px);
    height: (24px);
    border-radius: 50%;
}

li {
    list-style: none;
}

.inner-seller {

    font-size: .875rem;
    display: flex;
    align-items: center;
    height: 3.375em;
    margin-block-end: 0.75em;
    justify-content: flex-start;
    gap: rem(5px);
    padding: rem(5px);
}

.review-count {
    color: $clr6;
}

.preview-footer {
    display: flex;
    justify-content: space-between;

    >svg {

        fill: $clr1;
    }

}

.gig-preview {
    align-items: center;
    border: 1px solid #efeff0;

    >.owner-previwe {
        padding: rem(5px);
    }

    >.preview-footer {

        align-items: center;
        border-top: 1px solid #efeff0;
        clear: both;
        min-height: rem(20px);
        padding: 10px 12px;
        gap: 1rem;

    }


}

.preview-title {

    padding: 0 rem(12px) rem(5px);
    cursor: pointer;
    font-family: macan-regular;
    overflow: hidden;
}

.main-img {
    width: 100%;
    height: 11.5rem;
    cursor: pointer;
}

.gig-preview :hover {

    >.preview-title {
        color: $clr0;
    }
}

.vueperslides__parallax-wrapper {
    padding-bottom: 80%;
}


.starting-at {
    font-size: 10px;
    font-family: macan-regular;
    /* font-weight: bolder; */
    color: $clr4;
    font-size: rem(10px);
    font-weight: 700;
    letter-spacing: .5px;
    text-transform: uppercase;
    padding-block-start: 0.4em;
}

.gig-price {
    font-size: rem(18px);
    color: $clr3;
    margin-inline-start: 0.3125em;

    line-height: 1.25rem;
}

.full-name {
    font-family: macan-bold;
    font-weight: 600;
    color: $clr5;
}

.content-info {
    display: flex;
    align-items: center;
    height: 2.5em;
    padding: 0.625em 0.75em;
    font-weight: 700;

    >* {
        color: $clr8;
        padding: rem(4px);
    }
}

.rating-wrapper {
    >* {
        padding: rem(2.5px);
        font-size: 14px;

    }

    >.gig-rating {
        vertical-align: -0.16em;

    }
}

.link {
    text-decoration: none;
}