.owner-img {
    width: rem(24px);
    height: (24px);
    border-radius: 50%;
}


li{
    list-style: none;
}

.inner-seller {

    font-size: .875rem;
    display: flex;
    align-items: center;
    height: 3.375em;
    margin-block-end: 0.75em;
    justify-content: flex-start;
    gap: rem(5px);
    padding: rem(5px);
    
}


.content-info>* {
    color: $clr8;
}

.review-count {
    color: $clr6;
}


.preview-footer {
    display: flex;
    justify-content: space-between;


}


.gig-preview {
    align-items: center;
    border: 1px solid #efeff0;


    >.preview-footer {

        align-items: center;
        border-top: 1px solid #efeff0;
        clear: both;
        min-height: rem(20px);
        padding: 10px 12px;
        gap: 1rem;

    }
}


.main-img{
    width: 100%;
}