.dashboard {


    margin: 30px 40px 50px;

    .profile-progress {
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #dadbdd;
        margin: 0 40px 60px 0;
        padding: 30px 20px 50px;
        width: 400px;
        max-height: 400px;

        .profile {
            justify-content: space-between;

            .profile-item {
                padding: 8px;

                >p:first-child {
                    color: #74767e;
                }

            }
        }

        .img-container {
            width: 120px;
            height: 120px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .progress-item {
            margin: 30px 0;

            .progress-txt {
                margin-bottom: 10px;
                justify-content: space-between;
            }
        }

        .bold {
            color: #62646a;
        }

        .user-desc {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 120px;
            margin-inline-start: 20px;
        }
    }

    .seller-orders {
        width: 45vw;
        flex-direction: column;
        align-items: center;

        .status {
            display: flex;
            justify-content: center;
            color: #fff;
            font-weight: 500;
            align-items: center;
            border-radius: 3px;
            padding: 8px;
            cursor: pointer;
            font-size: 12px;
        }

        .order-table {
            width: 100%;
            margin-top: 40px;

            .table-head,
            .table-entity {
                height: 80px;
                border-bottom: 1px solid #dadbdd;
                align-items: center;

                >* {
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // padding-inline-start: 10px;
                }

                .buyer-col {
                    width: 20%;
                    min-width: 80px;
                    p{
                        margin-left: 10px;
                    }

                    h4{
                         margin-left: 10px;
                    }
                }

                h4 {
                    // margin-left: 10px;
                    font-weight: 900;
                    font-size: 1rem;
                    color: #3d3d3d;
                }

            }

            .gig-col {
                max-width: 50%;
                flex: 1;
                min-width: 100px;
            }

            .due-on-col {
                width: 15%;
                min-width: 100px;
                h4{
                    text-align: center;
                }
            }

            .total-col {
                width: 10%;
                min-width: 80px;
                h4{
                    text-align: center;
                }
            }

            .status-col {
                text-align: center;
                width: 15%;
                padding-inline-end: 10px;
                position: relative;
                min-width: 110px;
            }


        }


        >*:not(h1, h2) {
            border-radius: 5px;
            background-color: #fff;
            border: 1px solid #dadbdd;
        }

        h1,
        h2 {
            color: #62646a;
        }


        .headline {
            align-self: flex-start;
        }

        .income-order-dashboard {
            
            justify-content: space-evenly;
            align-items: center;
            height: 150px;
            margin: 0 0 40px;
            padding: 30px 0;

            .dashboard-item {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: 252px;
                flex: 1;
                justify-content: space-between;
                padding: 0 10px;

                span {
                    text-align: center;
                    font-weight: 700;
                    font-size: 1rem;
                    color: #74767e;
                }
            }

            >*:not(:last-child) {
                border-right: 2px solid #efeff0;
            }

            .status {
                display: flex;
                justify-content: center;
                color: #fff;
                font-weight: 500;
                align-items: center;
                border-radius: 3px;
                padding: 8px;
                cursor: pointer;
                font-size: 12px;
            }


        }

        .set-status {
            display: flex;
            z-index: 100;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: #fff;
            border: #dadbdd 1px solid;
            border-radius: 4px;
            width: 105px;
            height: 160px;
            position: absolute;
            transform: translate(-212%, -17%);
        }

    }
}

.status-select {
    padding-left: rem(8px);
}


@media screen and (max-width: 650px) {
    .dashboard .seller-orders .income-order-dashboard {
        display: none;

    }
}

@media screen and (max-width: 480px) {
    .dashboard {
     flex-direction: column;   

    .profile-progress {
        margin: 0;
        width: 315px;
        .user-desc {
            flex-direction: none;
            justify-content: space-between;
            align-items: center;
            height: 78px;
            margin-inline-start: 0;
        }
        .profile {
            justify-content: unset;
        }
    }

    .dashboard .profile-progress .progress-item .progress-txt {
        margin-bottom: 10px;
        justify-content: unset;

        p {
            margin-left: 10px;
        }
    }
  
    .dashboard .seller-orders .order-table {
         overflow-x: scroll; 
         overflow-y: auto; 
        max-width: 227px;
        max-height: 180px;
    }

}    }