.card-orders {
   article{
       width: 457px;
   }
    img.user-img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .user-gig img{ 
        width: 300px;
        height: 215px;
    }
    

    div {
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-end;
        >* {
            margin: 10px;
        }
    }
}
.tabs-orders {
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
}