.card-orders {
    img.user-img{
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
    .user-gig img{ 
        width: 300px;
        height: 215px;
    }

    div {
        // display: flex;
        // flex-direction: column;
        // justify-content: flex-end;
        >* {
            margin: 10px;
        }
    }
}