@import "../GigDeatils/UserPreview.scss";
@import "../GigDeatils/OrderSection.scss";
@import "../GigDeatils/AboutTheSeller.scss";
@import "../GigDeatils/AboutTheGig.scss";
@import "../GigDeatils/Review.scss";
@import "../GigDeatils/WhatPeopleLoved.scss";

.gig-info{
    padding-left: rem(32px);
    padding-right: rem(32px);
   
}

.carosel-img {
    background: transparent url(https://fiverr-res.cloudinary.com/app_assets/fiverr_logo_loader.svg) no-repeat 50%;
    background-size: 80px;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    min-height: 140px;
    min-width: 140px;
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
}

.nav-info {
    border-bottom: 0.0625rem solid #E4E5E7;
    color: #95979d;
    font-size: rem(14px);
    font-weight: 600;
    line-height: rem(53px);
    padding: 0;
    margin: 0;
    display: flex;
    padding-bottom: rem(32px);
    font-family: macan-regular;
    line-height: 3.7857142857em;
    cursor: pointer;

}

.nav-info>li {
    margin-right: rem(10px);
    list-style-type: none;
    
}

.gig-page {
    display: flex
}

.main-gig {
    margin-right: 9.15%;
    width: 57.42%
}

.gig-page>h2 {
    padding-block-end: rem(25px);
    font-size: 1.25rem;
}

.info-img {
    height: rem(30px);
    width: rem(30px);
    border-radius: 50%;
}

.gig-overview {margin-bottom: 64px} 
.gig-overview>h1 {
    font-size: rem(28px);
    padding: rem(0px) rem(0px) rem(16px);
}



.contact-btn {
    padding: rem(24px);
}

.more-info>* {
    font-size: rem(14px)
}

b {
    font-family: macan-regular;
    margin: 0 0 0 8px;
}

.profile-pic>img {
    width: 110px;
    height: 110px;
    font-size: 2.2em;
    border-radius: 50%;
}

.user-profile-label {
    display: flex;
    flex-direction: column;
}

.stat-header {

    padding-block-end: rem(12px)
}





@media only screen and (min-width: 600px) {
    .gig-info {
   
    }
}

@media only screen and (min-width: 900px) {
    .gig-info {
       
    }
}

// @media only screen and (min-width: 1160px) {
//     .listing-container {
//         grid-gap: rem(32px);
//         grid-template-columns: repeat(4, 1fr);
//     }
// }











