@import "../GigDeatils/UserPreview.scss";
@import "../GigDeatils/OrderSection.scss";
@import "../GigDeatils/AboutTheSeller.scss";
@import "../GigDeatils/AboutTheGig.scss";
@import "../GigDeatils/Review.scss";
@import "../GigDeatils/WhatPeopleLoved.scss";
@import "../GigDeatils/Nav.scss";


progress[value] {
    -webkit-appearance: none;
    appearance: none;
    margin-right: rem(10px);
    height: 8px
}

progress[value]::-webkit-progress-bar {
    background-color: $clr15;
    border-radius: 999px;
    height: 8px
}

progress[value]::-webkit-progress-value {
    background-color: $clr8;
    border-radius: 999px;
    height: 8px
}



.gig-info {
    padding-top: rem(32px);
    padding-bottom: rem(32px);
    margin-left: rem(24px);
    margin-right: rem(24px);
}


.gig-page {
    display: flex
}

.main-gig {
    margin-right: 9.15%;
    width: 57.42%
}

.gig-page>h2 {
    padding-block-end: rem(25px);
    font-size: 1.25rem;
}

.info-img {
    height: rem(30px);
    width: rem(30px);
    border-radius: 50%;
}

.gig-overview {
    margin-bottom: rem(30px)
}

.gig-overview>h1 {
    font-size: 1.75rem;
    padding-block-end: 0.5714285714em;
    overflow-wrap: break-word;
    color: $clr3;
    font-weight: 700;
    line-height: 130%;
}

.title-reviews {
    color: $clr3;
    padding-block-end: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.4em;
    font-weight: 700;

}

.contact-btn {
    padding: rem(24px);
}

.more-info>* {
    font-size: rem(14px)
}

b {
    font-family: macan-regular;
    margin: 0 0 0 8px;
}

.profile-pic>img {
    width: 110px;
    height: 110px;
    font-size: 2.2em;
    border-radius: 50%;
}

.user-profile-label {
    display: flex;
    flex-direction: column;
}

.stat-header {

    padding-block-end: rem(12px)
}


.last-li {
    padding-bottom: rem(24px);
}




@media only screen and (max-width: 800px) {
    .stat-main {
        flex-direction: column;
    }
}

@media only screen and (max-width: 440px) {
    .main{
        width:100%;
    }
    .gig-info {
        flex-wrap: wrap;
        margin-inline-start: 0;
        width: 120vw;
    }
    .main-gig{
        width: 100%;
    }
    .package-container{
        width: 99%;
    }
    .review-list-container{
        display: none;
    }
}

@media only screen and (min-width: 1160px) {
    .listing-container {
        grid-gap: rem(32px);
        grid-template-columns: repeat(4, 1fr);
    }
}


@media only screen and (max-width: 440px){
    .gig-info{
        width: 97vw;
        padding: rem(12px);
        padding-left: rem(19px);
    }
.seller-preview-short .text-container {
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
    .line{
        display: none;
    }
}}


