//REVIEW//
.review-preview-long {
    padding: 2.5em 0;
    border-block-start: rem(1px) solid $clr14;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "img details"
        ". review";
}

.reviewer-img {
    margin-inline-end: rem(16px);
    width: rem(48px);
    height: rem(48px);
    border-radius: 50%;
    grid-area: img;
}

.reviewer-details {
    grid-area: details;

    .username {
        font-size: 1rem;
        line-height: 1.5em;
        color: #404145;
        font-weight: 700;
        margin-block-end: 0.5em;
    }

    .country-wrapper img {
        height: rem(20px);
        width: rem(20px);
    }

    .country-wrapper .country {
        color: #62646a;
        font-size: .875rem;
        padding-inline-start: 0.5714285714em;
        line-height: 1.5em;
    }
}

.review-content {
    grid-area: review;
    margin-block-start: rem(20px);
    font-size: rem(14px);
    line-height: rem(21px);
}

.stars {
    margin-block-start: rem(-3px);

    li{
        margin: 0;
        padding: 0;
        padding-inline-end: 2px;
    }

    svg {
        fill: $clr8;
    }
}

.rating-score {
    padding-top: rem(3px);
    color: $clr8;
    padding-inline-start: 0.2857142857em;
    padding-inline-end: 0.5714285714em;
    font-weight: 700;
    border-inline-end: rem(1px) solid $clr15;
}


.reviewed-at {
    padding-inline-start: 0.5714285714em;
    color: $clr1;
}

.reviews-rate{
    ul {
        padding-top: 10px
    }
}



.stat-header h2 {
    margin: 0;
    margin-inline-end: 0.4em;
    font-size: 1.25rem;
    line-height: 1.4em;
    font-weight: 700;
    color: $clr3;
}

.reviews-rate .stars {
    margin-block-start: 0;
}

.reviews-rate .stars>* {
    padding-inline-end: rem(2px);
}


.stars-counters {
    min-width: 50%;

    ul>li .key {
        font-size: rem(16px);
        color: $clr16;
        font-weight: 700;
        padding: 0.375em;
        width: 25%;
    }

    ul>li .star-num {
        font-size: rem(16px);
        color: $clr16;
    }

    ul>li progress[value] {
        -webkit-appearance: none;
        appearance: none;
    }

    ul>li progress {
        margin-inline-end: rem(10px);
        margin-block-start: rem(8px);
        display: flex;
    }
}


.ranking {
    flex: 1;
    padding-inline-start: rem(6px);

    h6 {
        line-height: rem(38px); 
        margin: 0 0 0em;
        line-height: 0;
        font-size: 1rem;
        font-weight: 700;
        padding-block-end: 1em;
        line-height: 140%;
        color: $clr17;
    }

    ul {
        li {
            .key{
                font-size: 18px;
            }
            
            padding-block-end: 1em;
            color: $clr9;

            .star-container {
                margin-left: rem(12px);
                line-height: rem(21px);
                color: $clr8;
                font-weight: 700;

                span {
                    display: grid;
                    place-content: center;

                    svg {
                        fill: $clr8;
                    }
                }

                .value {
                    padding-inline-start: 0.25em;
                    margin-block-start: 0.125em;
                }

            }
        }
    }

}

