.container {
    max-width: 1500px;
    padding: 10px;
}

.main-container {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr rem(1200px) 1fr;

    >* {
        grid-column: 2;

        // background-color: lightskyblue;
        &.full {
            grid-column: 1 /-1;
        }
    }

    @include for-narrow-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $mobile-breakpoint) minmax(20px, 1fr);
    }

    @include for-normal-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, $narrow-breakpoint) minmax(20px, 1fr);
    }

    @include for-wide-layout {
        grid-template-columns:
            minmax(20px, 1fr) minmax(auto, rem(1200px)) minmax(20px, 1fr);
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

// .main-container >.main-header {

//     grid-column: 0 /-1;
//     background-color: red;
// }