.hero-container {
    background-image: url('https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049983/bg-hero-1-1792-x1.png');
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
    height: 675px;
    display: flex;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.hero-search-container {
    // grid-column: 2;
    margin: 0 auto;
    flex-direction: column;
    color: $clr2;
    align-self: center;
    gap: 28px;

    h1 {
        text-align: left;
        max-width: 650px;
        font-family: macan-regular;
        font-size: 2.5rem;
        line-height: 48px;

        span {
            font-family: Domain-Display-Medium-Italic;
            font-style: italic;
            margin-inline-start: 15px;
            font-weight: 400;
            font-size: 47px;
        }
    }

    .hero-search {
        flex-wrap: wrap;
        // margin-inline-start: 73px;
        position: relative;
    }

    .search-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 4px 0 0 4px;
        width: 41px;
        padding-top: 3px;
    }

    input {
        width: 511px;
        height: 48px;
        flex: 1;
        border: 0;
        font-size: 16px;
    }

    button {
        background-color: $clr0;
        border: 1px solid $clr0;
        border-radius: 0 4px 4px 0;
        color: #fff;
        font-weight: 600;
        font-size: 1rem;
        height: 3rem;
        position: absolute;
        right: 747px;
        top: -5px;
        width: 99px;
    }

    button:hover {
        background-color: #18ad68;
    }

    .categories {
        // margin-inline-start: 73px;

        flex-wrap: wrap;
        text-decoration: none;
        align-items: center;
        gap: 10px;
        font-size: .875rem;
        font-weight: 600;
    }

    .categories div:hover {
        background-color: #fff;
        color: #000;
    }

    .tag {
        display: block;
        text-decoration: none;
        color: #fff;
        border: 1px solid white;
        border-radius: 2.5rem;
        padding: 1px 12px 0;
        font-size: .875rem;
        line-height: 24px;
        transition: all .2s ease-in-out;
        cursor: pointer;
    }
}

.trusted-by {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(58px);
    background-color: $clr10;
    margin-bottom: rem(63px);
    padding: rem(19px);

    span {
        font-family: macan-regular;
        font-weight: 600;
        color: $clr6;
        font-size: rem(16px);
    }
}

.popular-container {

    .popular-title {
        font-family: macan-regular;
        font-size: rem(32px);
        font-weight: 700;
        line-height: 130%;
        padding-top: rem(20px);
        padding-bottom: rem(25px);
        color: $clr3;
    }

    .popular-imgs {
        color: $clr2;
        font-family: macan-regular;
        font-size: rem(14px);
        border-radius: rem(5px);
        padding: rem(16px);

        transition: opacity 0.7s;
        cursor: pointer;
    }

    .popular-imgs:hover {
        opacity: 0.8;
        transition: opacity 0.7s ease;
    }

    .vueperslides__arrow svg {
        font-size: rem(14px);
        color: $clr3;
        background-color: $clr2;
        height: rem(48px);
        border-radius: 50%;
        box-shadow: 0px 1px $clr6;
    }

    .vueperslides__arrow vueperslides__arrow--prev {
        left: -2.44em;
    }

    .vueperslides__arrow vueperslides__arrow--next {
        right: -2.4em;
    }

    .vueperslides__bullet .default {
        display: none;
    }

    .vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom) {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .vueperslide__content {
        font-size: 24px;
        line-height: 130%;
        font-family: macan-bold;
    }
}

.bgc-marketplace {
    background-color: #f1fdf7;
}

.video-section {
    .main-container {
        margin: 0 auto;
    }

    padding-bottom: 96px;
    padding-top: 96px;
    background-color: #f1fdf7;
    margin-bottom: 96px;

    // padding: 94px;
    h2,
    p {
        padding-bottom: 24px;
    }

    .side-text {
        h2 {
            width: 471px;
            font-size: 32px;
            line-height: 120%;
            color: #404145;
            font-family: macan-regular, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-weight: 700;
        }

        h6 {
            font-size: 18px;
            line-height: 140%;
            color: $clr5;
            font-family: macan-regular, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-weight: 700;
        }

        p {
            // width: 474px;
            font-size: 18px;
            line-height: 26px;
        }
    }

    .side-video {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 443px;
            height: 283px;
        }
    }
}

.marketplace-container {
    margin-bottom: 64px;

    h4 {
        text-align: center;
        line-height: 4;
    }

    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
    }

    section.svg-container {
        display: grid;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 55px;
    }

    .bold {
        font-size: 2rem;
        line-height: 120%;
        color: #404145;
        margin-bottom: 64px;
        font-family: macan-bold;
    }

    svg {
        width: 60px;
        border-bottom: 1px solid $clr4;
    }

}


@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 900px) {
    .video-section {
        display: flex;
        justify-content: space-between;
    }

    .marketplace-container {
        section.svg-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@media only screen and (min-width: 1160px) {
    .video-section {
        p {
            width: rem(417px);
        }

        .side-video {
            img {
                width: rem(700px);
                height: rem(450px);
            }
        }
    }

    .marketplace-container {
        section.svg-container {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}