.hero-container {
    background-image: url('https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049983/bg-hero-1-1792-x1.png');
    height: 675px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.trusted-by {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    background-color: $clr10;
    margin-bottom: rem(63px);

    span {
        font-family: macan-regular;
        font-weight: 600;
        padding-right: rem(20px);
        color: $clr6;
    }
}

.popular-container {
    padding: rem(32px) rem(32px) rem(64px);

    .popular-title {
        font-family: macan-regular;
        font-size: rem(32px);
        font-weight: 700;
        line-height: 130%;
        padding-top: rem(20px);
        color: $clr3;
    }

    .popular-imgs {
        font-size: 24px;
        font-family: macan-regular;
        line-height: 130%;
        border-radius: 5px;
        color: $clr2;

        transition: opacity 0.7s;
        cursor: pointer;
    }

    .popular-imgs:hover {
        opacity: 0.8;
        transition: opacity 0.7s;
    }

    .vueperslides__arrow svg {
        font-family: macan-bold;
        font-size: rem(14px);
        color: $clr3;
        background-color: $clr2;
        height: rem(48px);
        border-radius: 50%;
        box-shadow: 0px 1px $clr6;
    }

    .vueperslides__bullet .default {
        display: none;
    }

    .vueperslide__content-wrapper:not(.vueperslide__content-wrapper--outside-top):not(.vueperslide__content-wrapper--outside-bottom) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    div.vueperslides__title {
        padding: 10px;
        color: red;
    }
}

.bgc-marketplace {
    background-color: #f1fdf7;
}

.video-section {
    .bgc-marketplace {
        background-color: #f1fdf7;
    }
    justify-content: space-between;
    padding-bottom: 96px;
    padding-top: 96px;
    background-color: #f1fdf7;
    margin-bottom: 96px;

    .side-text {
        h2 {
            width: 471px;
            font-size: 32px;
            line-height: 120%;
            color: #404145;
            font-family: macan-regular, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-weight: 700;
        }

        h6 {
            font-size: 18px;
            line-height: 140%;
            color: #404145;
            font-family: macan-regular, Helvetica Neue, Helvetica, Arial, sans-serif;
            font-weight: 700;
        }

        p {
            width: 474px;
            font-size: 18px;
            line-height: 26px;
        }
    }

    .side-video {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.marketplace-container {
    margin-bottom: 64px;

    h4 {
        text-align: center;
        line-height: 7;
    }

    div {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
    }

    section.svg-container {

        display: grid;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        gap: 55px;
    }

    .bold {
        font-size: 2rem;
        line-height: 120%;
        color: #404145;
        margin-bottom: 64px;
        font-family: macan-bold;
    }

    svg {
        width: 60px;
    }

    svg::after {
        content: "";
        // position: absolute;
        // top: 60px;
        // right: 50%;
        // transform: translate(50%);
        // padding: 0 0 8px;
        // width: 48px;
        border-bottom: 2px solid #1f46ba;
        transition: border-color .2s ease-in-out, width .2s ease-in-out;
    }
}