// Colors
$clr1: #ce2e6c;
$clr2: #4f3a65;
$clr3: #574f7d;
$clr4: #95adbe;
$clr5: #dff0ea;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;


//  Colors fiver:
$clr-1: #188652;
$clr0: #1dbf73;
$clr1: #62646a;
$clr2: #ffffff;
$clr3: #404145;
$clr4: #74767e;
$clr5 :#222325;
$clr6:#b5b6ba;
$clr7: #1e1692;
$clr8: #ffbe5b;
$clr9:#95979d;
